<div class="row mt-5">
    <div class="column text-center">
        <img src="img/dion.png" alt="" class="bg-thumbnail rounded-circle">
        <h1 class="display-4 mt-3">Dion Arifin</h1>
        <p class="lead">Student & Web Developer</p>
    </div>
</div>