
    <h1>Halo <%= nama %> Ganteng</h1>

    <% mahasiswa.forEach(mhs=> { %>
        <ul>
            <li>Nama : <%= mhs.nama %> </li>
            <li>Umur : <%= mhs.umur %> </li>
            <li>Alamat : <%= mhs.alamat %> </li>
        </ul>
        <% }) %>
